name: Broker Benchmark

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  e2e-bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23
      - name: Install tools
        run: make tools
      - name: Run Benchmark
        run: make bench