name: CI (pull_request & push)  
  
on:  
  push:  
    branches: [main, release-*]  
  pull_request:  
    branches: [main, release-*]  
  
jobs:  
  lint:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true 
      - run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest  
      - run: make lint  
  
  test:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true  
      - name: Run tests with coverage  
        run: make coverage  
      - name: Upload coverage reports to Codecov  
        uses: codecov/codecov-action@v5  
        with:  
          files: ./coverage.out  
  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true  
      - run: make build  
  
  e2e:  
    runs-on: ubuntu-latest  
    timeout-minutes: 15  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true  

      - name: Set up Docker Buildx  
        uses: docker/setup-buildx-action@v3  
        with:  
          driver-opts: network=host  

      - name: Run E2E tests  
        run: make e2e
  
  benchmark:  
    runs-on: ubuntu-latest  
    needs: [lint, test, build]  
    steps:  
      - uses: actions/checkout@v4  
      - uses: actions/setup-go@v5  
        with:  
          go-version: '1.25.0'  
          cache: true  
     
      - name: Run benchmark  
        run: |        
          make bench